{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geriatric Advisor</title>
    <link rel="icon" href="{%static 'icons/logo.png'%}">


    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="{%static 'css/chatbot.css'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap/bootstrap.min.css'%}">

    <script src="{% static 'js/chatbot.js' %}"></script>
</head>
<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{%static 'icons/logo.png'%}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    Geriatric Advisor
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/resources">Ressources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/conseils">Conseil</a>
                    </li>
                    </ul>
                    <a class="btn btn-login" href="/login">Connexion</a>
                </div>
                </div>
            </nav>
        <main>
            {% block content %}
            {% endblock %}
            <div class="webchat" style="height: 90%; width: 33%;">
                <iframe
                    style="height: 100%; width: 100%; border: none;"
                    srcdoc='
                    <!doctype html>
                    <html lang="en">
                    <head></head>
                    <body>
                        <script src="https://cdn.botpress.cloud/webchat/v2.2/inject.js"></script>
                        <script defer>
                        window.botpress.on("webchat:ready", (conversationId) => {
                            botpress.open();
                        });
                        <!-- REPLACE THE CONTENT BELOW WITH THE JAVASCRIPT CODE YOU COPIED EARILER -->
                        window.botpress.init({
                            "botId": "9b299059-d830-48c4-84bf-6fdd84e045f6",
                            "configuration": {
                            "website": {},
                            "email": {},
                            "phone": {},
                            "termsOfService": {},
                            "privacyPolicy": {},
                            "color": "#3B82F6",
                            "variant": "solid",
                            "themeMode": "light",
                            "fontFamily": "inter",
                            "radius": 1
                            },
                            "clientId": "9503a8e6-1d3b-47ac-bb17-c160654e2b7b"
                        });
                        <!-- REPLACE THE CONTENT ABOVE -->
                        </script>
                    </body>
                    </html>'
                ></iframe>
            </div>
        </main>
    </div>
</body>
</html>