{% extends 'base.html' %} {% load static %}

{% block content %}
<div class="container-fluid p-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Conseil</h1>
                <p>Vous trouverez ici des conseils pour vous aider à prendre soin de vos proches âgés.</p>
            </div>
            <div class="col-md-6">
                <img src="{%static 'icons/conseil.png'%}" class="img-fluid" alt="..." style="width: 20em; height: 20em;">
            </div>
        </div>
    </div>
</div>
{% endblock %}